<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>descriptionStr</key>
		<string>特等奖</string>
		<key>drawLevel</key>
		<string>1</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>一等奖</string>
		<key>drawLevel</key>
		<string>2</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>一等奖</string>
		<key>drawLevel</key>
		<string>2</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>一等奖</string>
		<key>drawLevel</key>
		<string>2</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>一等奖</string>
		<key>drawLevel</key>
		<string>2</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>二等奖</string>
		<key>drawLevel</key>
		<string>3</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>二等奖</string>
		<key>drawLevel</key>
		<string>3</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>二等奖</string>
		<key>drawLevel</key>
		<string>3</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>二等奖</string>
		<key>drawLevel</key>
		<string>3</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>二等奖</string>
		<key>drawLevel</key>
		<string>3</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>二等奖</string>
		<key>drawLevel</key>
		<string>3</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>三等奖</string>
		<key>drawLevel</key>
		<string>4</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>三等奖</string>
		<key>drawLevel</key>
		<string>4</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>三等奖</string>
		<key>drawLevel</key>
		<string>4</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>三等奖</string>
		<key>drawLevel</key>
		<string>4</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>三等奖</string>
		<key>drawLevel</key>
		<string>4</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>三等奖</string>
		<key>drawLevel</key>
		<string>4</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>三等奖</string>
		<key>drawLevel</key>
		<string>4</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>三等奖</string>
		<key>drawLevel</key>
		<string>4</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>三等奖</string>
		<key>drawLevel</key>
		<string>4</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>三等奖</string>
		<key>drawLevel</key>
		<string>4</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
	<dict>
		<key>descriptionStr</key>
		<string>四等奖</string>
		<key>drawLevel</key>
		<string>5</string>
		<key>backgroundImage</key>
		<string></string>
	</dict>
</array>
</plist>
